<nav class="navbar navbar-light navbar-expand-sm">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav navbar-nav-custom">

      <li class="nav-item">
        <a class="nav-link" target="_blank" href="https://www.facebook.com/azsagh/">Facebook</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" target="_blank" href="https://twitter.com/azs_krakow?lang=pl">Twitter</a>
      </li>


      <li class="nav-item">
        <a class="nav-link" target="_blank" href="http://www.azs.agh.edu.pl/">AZS-AGH Kraków</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" target="_blank" href="https://www.agh.edu.pl/">AGH Kraków</a>
      </li>
    </ul>
  </div>
</nav>

<div class="info">
      @2018 Mariola Sikora
    </div>

