<hr>
<h2 class="header-custom">Zarząd KU AZS AGH Kraków</h2>
<hr>
<br>

<div class="row custom">
  <div class="col-md-6">
    <h5>Prezes KU AZS AGH
      <small>Imię Nazwisko</small>
    </h5>

    <h5>Wiceprezes ds. organizacyjnych
      <small>Imię Nazwisko</small>
    </h5>
    <h5>Wiceprezes ds. sportu
      <small>Imię Nazwisko</small>
    </h5>
    <h5>Sekretarz
      <small>Imię Nazwisko</small>
    </h5>
  </div>
  <div class="col-md-6">
    <h5>Członkowie zarządu
      <br>
      <small>
        Imię Nazwisko
        <br> Imię Nazwisko
        <br> Imię Nazwisko
        <br> Imię Nazwisko
        <br> Imię Nazwisko
        <br> Imię Nazwisko
        <br> Imię Nazwisko
        <br> Imię Nazwisko
        <br> Imię Nazwisko
        <br> Imię Nazwisko
      </small>
    </h5>
  </div>
</div>
